*{
    padding: 0px;
    margin: 0px;
}
header{
    height: 100vh;
    box-sizing: border-box;
    padding: 6em;;
    background-color: #eee;
     box-shadow: 2px 3px 2px #eee;
}

.first{
    margin-right: 1em;
    margin-left: 2em;
    text-align: center;
    font-size: 2em;
    font-family: fantasy;
    text-shadow: 10px 10px 3px rgba(122, 52, 52, 0.5);
    position: relative;
    top:1em;
    writing-mode:vertical-lr
}
#second{
    margin-right: 1em;
    text-align: center;
    font-size: 2em;
    font-family: fantasy;
    text-shadow: 10px 10px 3px rgba(0,0,0,0.5);
    position: relative;
    top:1em;
}

